@media screen and (max-width: 768px) {
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.Name {
  color: #fff;
  font-family: "Hachi Maru Pop", cursive;
  /* font-size: 44px; */
  font-size: 3rem;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .Name {
    font-size: 2.5rem;
  }
}

.Icon {
  margin-top: 30px;
  margin-right: 10px;
}

.Icon:hover {
  cursor: pointer;
  transform: scale(2, 2);
}

@media screen and (max-width: 768px) {
  .Icon {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .Icon:hover {
    transform: scale(1);
  }
}
