body {
  font-family: "East Sea Dokdo", cursive;
  /* font-family: "Fraunces", serif; */
  /* font-family: "Hachi Maru Pop", cursive; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #000000;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
